@font-face {
	font-family: 'Archangelsk';
	src: url(../font/Archangelsk.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// root
:root {
	--color-dark: #000;
	--color-light-gray: #777777;
	--color-light: #fff;
	--color-yellow: #f8f200;
	--color-blue-light: #52bedc;

	--font-family-accent: 'Archangelsk', san-serif;
	--font-family-base: 'Roboto', san-serif;

	--container-width: 1280px;
	--container-padding: 15px;

	--input-height: 35px;
	--transition-duration: 0.2s;

	--header-height: 74px;
}

//  basic settings
html {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family-base);
	font-weight: 400;
	font-size: 18px;
	color: var(--color-light);
}

// svg
svg *[fill] {
	fill: currentColor;
}
svg *[stroke] {
	stroke: currentColor;
}

*,
::after,
::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(255, 255, 255);
	font-family: var(--font-family-accent);
	font-size: clamp(32px, 3.22vw, 62px);
	font-weight: 400;
	text-align: left;
	line-height: 1.1;
}
/* плавный переход */
a,
button,
input,
textarea,
svg * {
	transition-duration: var(--transition-duration);
}

/* параграфы,  не являющийся последними будут иметь отступ margin*/
p:not([class]):not(:last-child) {
	margin-bottom: 24px;
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding);
}

/* visually-hidden (чтобы прятать элементы), !important (подстраховка, повышает специфичность правил почти до максимума)*/

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

/* input */
.input {
	width: 100%;
	height: var(--input-height);
	padding-inline: 25px;
	color: var(--color-white);
	background: transparent;
	border-bottom: 1px solid var(--color-light-gray);
	&::placeholder {
		color: var(--color-light);
	}
	&:hover {
		border-color: var(--color-white);
	}
	&:focus {
		background-color: var(--color-light-gray);
	}
}

// button
.button {
	text-align: center;
	font-weight: 700;
	line-height: 40px;
	padding-inline: 50px;
	&:hover {
		border-color: var(--color-light);
		color: var(--color-light);
	}
}

// chopped
.chopped {
	clip-path: polygon(10% 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0 15%);
}

// header
.header {
	background: url(../img/bg.jpeg) center/ cover no-repeat;
	&__container {
		position: relative;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-list {
			display: flex;
			column-gap: 41px;
		}
		&-link {
			width: 30px;
			color: var(--color-dark);
		}
	}
	&__wrapper {
		display: flex;
		justify-content: end;
		&-body {
			width: 625px;
			height: 350px;
			padding: 70px;
			background: var(--color-yellow);
		}
		&-title {
			color: var(--color-dark);
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		&-button {
			width: 270px;
			height: 80px;
			color: var(--color-yellow);
			background: var(--color-dark);
			font-size: 24px;
		}
	}
}

// game
.game {
	&__title {
		padding-top: 70px;
		color: var(--color-dark);
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	&__desc {
		width: 950px;
		color: var(--color-light-gray);
		line-height: 1.75;

		span {
			color: var(--color-blue-light);
		}
		&:not(:last-child) {
			margin-bottom: 70px;
		}
	}
	&__wrapper {
		display: grid;
		grid-template: repeat(2, 200px) / repeat(3, 420px);
		grid-auto-rows: minmax(200px, auto);
		gap: 32px;
		img {
			object-fit: cover;
		}
		.city2 {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
		.city3 {
			grid-column: 2 / 4;
			grid-row: 1 / 3;
		}
	}
}

// play
.play {
	background: var(--color-dark);
	padding-top: 15px;
	padding-bottom: 70px;
	&__container {
		display: flex;
	}
	&__wrap {
		display: flex;
		flex-direction: column;
	}
	&__header {
		display: flex;
		column-gap: 32px;
		&-title {
			margin-top: 55px;
		}
	}
	&__desc {
		margin-top: 25px;
		line-height: 1.75;
		width: 950px;
		span {
			color: var(--color-blue-light);
		}
	}
	&__body {
		&-form {
			display: flex;
			flex-direction: column;
			margin-top: 73px;
		}
		&-input {
			width: 460px;
			padding-bottom: 12px;
			background: transparent;
			border-top: var(--color-dark);
			border-right: var(--color-dark);
			border-left: var(--color-dark);
			color: var(--color-light);
			&:not(:last-child) {
				margin-bottom: 35px;
			}
		}
		&-custom {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 460px;
			height: 120px;
			color: var(--color-light);
			border: 2px dashed var(--color-light-gray);
			text-decoration: underline;
		}
		&-btn {
			margin-top: 35px;
			width: 192px;
			height: 60px;
			font-weight: 700;
			line-height: 40px;
			padding-inline: 50px;
			background: var(--color-yellow);
			&:hover {
				border-color: var(--color-light);
			}
		}
		&-checkbox {
			display: flex;
			column-gap: 10px;
			margin-top: 15px;
			input {
				margin: 0;
			}
			p {
				font-size: 12px;
				font-weight: 300;
				line-height: 14px;
			}
		}
		&-check {
			text-decoration: none;
			color: var(--color-light-gray);
		}
	}
	&__img {
		display: flex;
		margin-top: 270px;
		margin-left: -460px;
	}
}

// diving
.diving {
	background: var(--color-yellow);
	padding-top: 70px;
	padding-bottom: 70px;
	&__container {
		display: flex;
	}
	&__images {
		&-monitor {
			width: 624px;
			height: 430px;
			margin-bottom: 26px;
		}
		&-img {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 25px;
		}
	}
	&__body {
		margin-left: 32px;
		&-title {
			color: var(--color-dark);
			font-family: var(--font-family-accent);
			font-size: 62px;
			line-height: 1;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		p {
			color: var(--color-dark);
			font-size: 18px;
			line-height: 1.8;
		}
		&-advantages {
			th {
				color: var(--color-dark);
				text-align: left;
				padding-right: 10px;
				padding-bottom: 20px;
			}
			table {
				margin-bottom: 40px;
			}
		}
		&-btn {
			background: var(--color-dark);
			color: var(--color-yellow);
		}
	}
}

// buy
.buy {
	background: var(--color-dark);
	display: flex;
	column-gap: 32px;
	&__img {
		img {
			height: 100%;
			object-fit: cover;
		}
	}
	&__body {
		padding-top: 70px;
		padding-bottom: 70px;
		&-title {
			width: 626px;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		&-complected {
			margin-bottom: 70px;
			&-p {
				margin-bottom: 21px;
			}
			span {
				font-size: 24px;
				font-weight: 700;
				color: var(--color-blue-light);
			}
			th {
				text-align: left;
				padding-right: 10px;
				padding-bottom: 20px;
			}
			table {
				margin-bottom: 40px;
			}
		}
		&-platform {
			display: flex;
			flex-direction: column;
			span {
				color: var(--color-blue-light);
				font-size: 24px;
				font-weight: 700;
			}
			&-box {
				display: flex;
				flex-wrap: wrap;
				gap: 50px 80px;
				width: 319px;
				height: 186px;
			}
		}
	}
}

// footer
.footer {
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__images {
		display: flex;
		column-gap: 32px;
	}
	&__familiarization {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 32px;
		a {
			text-decoration: none;
			color: var(--color-dark);
		}
	}
	&__copyright {
		padding-block: 13px;
		background: var(--color-dark);
		text-align: center;
		font-size: 12px;
		line-height: 14px;
	}
}
@import './media-style';
